.logon-container {
    width: 100%; /* esses item são pensados na responsividade */
    max-width: 1120px; /* esses item são pensados na responsividade */
    height: 100vh;
    margin: 0 auto;

    display: flex; /*faz com que os intems fiquem um ao lado do outro*/
    align-items: center; /*centraliza verticalmente*/
    justify-content: center; /*centraliza horizontalmente*/
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px; /* distanciamento da logo */
}

.logon-container section.form form {
    margin-top: 50px;
}

.login-logo {
    width: 300px;
    height: 300px;
}

.logon-container section.form form h1 {
    font-size: 24px;
    margin-bottom: 24px;
}
