.textModal {
    color: black;
}

.bodyModal {
    background: white;
}

#foodName {
    color: black;
}

.Logged-Home-Functions {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.Logged-Home-Functions h1 {
    font-size: 25px;
    font-style: oblique;
}

.Redirect-Btn {
    width: 50%;
    text-align: center;
    align-items: center;
    background: rgba(233, 72, 8, 0.959);
    
}

#app h1 {
    color: white;
    
}

.save-food {
    background: #00cc99;
    color: #fdfdfd;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.table {
    margin: 50px auto 0px;
    width: 700px;
}


.search-input {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    width: 450px;
    display: block;
    transition: all .1s linear;
}

.select {
    display: block;
    width: 20px;
    height: 0px;
    padding-right: 120px;
}

.teste {
    width: 20px;
    height: 20px;
}
