
.Home-header {
    display: flex;
    align-items: center;
    background-color: rgba(233, 72, 8, 0.959);
}

.Carb-title {    
    text-align: left;
    margin-left: 100px;
}

.Carb-title h1 {
    font-weight: bold;
    color: white;
}

.Btn-header {
    margin-left: 800px;
}

.Btn-login {
    margin-right: 20px;
    color: white;
}

.Btn-register {
    color: white;
}

.Btn-logout {
    color: white;
}

